# dependencies
node_modules/

# environment
.env
config.json

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*

# build / coverage
build/
coverage/

# temp
*.swp
*.swo
*.tmp
*.seed
*.pid
*.pid.lock

# macOS
.DS_Store

# IDEs/editors
.vscode/
.idea/
*.iml
